@model AdminPostsPagingViewModel


@{
    ViewData["Title"] = "Index";
}

@*This page is displaying the list of all Posts *@


<div class="WhiteBackground border">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Post's List</h2>
        </div>
        @*<div class="col-6 text-right">
                <partial name="_CreateButtonPartial" />
            </div>*@
    </div>

    <div>

        @* Check If there is no posts in the list if there is no posts
        a message no posts will be displayed else
        all posts name will be displayed in a table *@


        @if (Model.Posts.Count() == 0)
        {
            <p class="text-danger">No Posts Available... </p>

        }
        else
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        @Html.DisplayNameFor(m => m.Posts[0].AuthorName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Posts[0].Title)
                    </th>

                    <th>
                        @Html.DisplayNameFor(m => m.Posts[0].CategoryId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Posts[0].SubCategoryId)
                    </th>

                    <th>

                    </th>
                    <th>

                    </th>

                    <th>

                    </th>
                    <th>


                </tr>

                @*we need a for loop to check the list of category to display items in it*@

                @foreach (var item in Model.Posts)
                {
                    <tr>
                        <td style="font-size:medium;font-weight:500;">
                            @Html.DisplayFor(m => item.AuthorName)
                        </td>
                        <td style="font-size:medium;font-weight:500;">
                            @Html.DisplayFor(m => item.Title)
                        </td>

                        <td style="font-size:medium;font-weight:500;">
                            @Html.DisplayFor(m => item.Category.Name)
                        </td>
                        <td style="font-size:medium;font-weight:500;">
                            @Html.DisplayFor(m => item.SubCategory.Name)
                        </td>



                        <td>

                            <img src="@item.Image " width="50" />

                        </td>


                        <td>
                            <a asp-action="Details" class="btn btn-primary text-white" title="Details" asp-route-id="@item.PostId">
                                <i class="fas fa-list-ul"> </i>
                            </a>
                        </td>


                        @if (item.Status == SD.PostPending)
                        {
                            <td>
                                <a type="submit" asp-action="SubmitPost" asp-area="Admin" asp-controller="Posts" asp-route-id="@item.PostId"
                                   title="Approve Post" class="btn btn-primary form-control">
                                    <i class="fa fa-check-square"> Submit</i>
                                </a>
                            </td>
                            <td>
                                <a asp-action="Delete" class="btn btn-danger text-white" title="Delete" asp-route-id="@item.PostId">
                                    <i class="fas fa-trash-alt"> </i>
                                </a>
                            </td>



                        }
                        @if (item.Status == SD.PostSubmitted)
                        {
                            <td>
                                <a type="submit" asp-action="ApprovePost" asp-area="Admin" asp-controller="Posts" asp-route-id="@item.PostId"
                                   title="Approve Post" class="btn btn-success form-control">
                                    <i class="fa fa-check-square"> Approve</i>
                                </a>
                            </td>
                            <td>
                                <a asp-action="Delete" class="btn btn-danger text-white" title="Delete" asp-route-id="@item.PostId">
                                    <i class="fas fa-trash-alt"> </i>
                                </a>
                            </td>

                        }

                        @if (item.Status == SD.PostApproved)
                        {

                            <td>
                                <a asp-action="Delete" class="btn btn-danger text-white" title="Delete" asp-route-id="@item.PostId">
                                    <i class="fas fa-trash-alt"> </i>
                                </a>
                            </td>
                            <td>
                            </td>
                        }

                    </tr>
                }

            </table>
            <div page-model="@Model.PagingInfo" page-classes-enabled="true" page-class="btn border"
                 page-class-normal="btn btn-light" page-class-selected="btn btn-info active" class="btn-group float-right"></div>
            <br />

        }
    </div>

</div>

