@model UserPostsPagingViewModel
@{
    ViewData["Title"] = "Index";
}

@*This page is displaying the list of all Posts *@


<div class="WhiteBackground border">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Post's List</h2>
        </div>
        <div class="col-6 text-right">
            <partial name="_CreateButtonPartial" />
        </div>
    </div>




    <div>

        @* Check If there is no posts in the list if there is no posts
        a message no posts will be displayed else
        all posts name will be displayed in a table *@


        @if (Model.Posts.Count() == 0)
        {
            <p class="text-danger">No Posts Available... </p>
            <p class="text-danger">
                You Can Add New One From The Button Create New Above..
            </p>
        }
        else
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        @Html.DisplayNameFor(m => m.Posts[0].Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Posts[0].Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Posts[0].CategoryId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Posts[0].SubCategoryId)
                    </th>


                    <th>

                    </th>

                    <th>

                    </th>
                    <th>

                    </th>
                </tr>

                @*we need a for loop to check the list of category to display items in it*@

                @foreach (var item in Model.Posts)
                {
                    <tr>
                        <td style="font-size:medium;font-weight:500;">
                            @Html.DisplayFor(m => item.Title)
                        </td>
                        <td style="font-size:medium;font-weight:500;">
                            @Html.DisplayFor(m => item.Address)
                        </td>
                        <td style="font-size:medium;font-weight:500;">
                            @Html.DisplayFor(m => item.Category.Name)
                        </td>
                        <td style="font-size:medium;font-weight:500;">
                            @Html.DisplayFor(m => item.SubCategory.Name)
                        </td>







                        @*Three buttons for the Category Details,Edit *@



                        <td>

                            <img src="@item.Image " width="50" />

                        </td>
                        <td style="width:150px">
                            <partial name="_OperationsButtonPartial" model="@item.PostId" />
                        </td>

                        <td>
                            @if (item.Status == SD.PostPending || item.Status == SD.PostSubmitted || item.Status == SD.PostApproved)
                            {
                                <button type="submit" class="btn btn-info showstatus" data-id="@item.PostId" data-toggle="modal">
                                    <i class="fas fa-clock"> Status </i>
                                </button>
                            }

                        </td>

                    </tr>
                }

            </table>
            <div page-model="@Model.PagingInfo" page-classes-enabled="true" page-class="btn border"
                 page-class-normal="btn btn-light" page-class-selected="btn btn-info active" class="btn-group float-right"></div>
            <br />
        }
    </div>

</div>
<div class="modal fade" id="OrderStatus" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog-centered modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info text-light justify-content-center">
                <h5 class="modal-title">Post Status</h5>
            </div>
            <div class="modal-body justify-content-center" id="OrderStatusContent">
            </div>

            <div class="modal-footer">
                <button class="btn btn-secondary" style="width:20%" data-dismiss="modal">
                    Close
                </button>
            </div>



        </div>



    </div>


</div>

@section Scripts{ 
<script>


    var urlPostStatus = '/User/Posts/GetPostStatus';
    $(function () {

        $(".showstatus").click(function () {
            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');
            $.ajax(
                {
                    type: "GET",
                    url: urlPostStatus,
                    contentType: "text/html;charset=utf-8",
                    data: { "id": id },
                    cache: false,
                    dataType: "html",
                    success: function (data) {
                        $('#OrderStatusContent').html(data);
                        $('#OrderStatus').modal('show');
                    },
                    error: function () {
                        alert("Dynamic Content Load Failed");
                    }

                });
        });
    });
</script>
}