@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="WhiteBackground border">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Users List</h2>
            </div>
        
           
    <div class="col-6 text-right">
        <a class="btn btn-primary border" asp-area="Identity" asp-page="/Account/Register">
            Register New User &nbsp;<i class="fas fa-plus "></i>
        </a>
    </div>
    </div>

    <div>

        

        @if (Model.Count() == 0)
        {
            <p class="text-danger">No Users... </p>
            <p class="text-danger">
                You Can Add New One From The Button Register New Above..
            </p>
        }
        else
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    
                    <th>
                        @Html.DisplayNameFor(m => m.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.PhoneNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.City)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Governorate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.PostalCode)

                    </th>
                    <th>

                    </th>
                </tr>

                @*we need a for loop to check the list of category to display items in it*@

                @foreach (var item in Model)
                {
            <tr>

                <td style="font-size:medium;font-weight:500;">
                    @Html.DisplayFor(m => item.Name)
                </td>
                <td style="font-size:medium;font-weight:500;">
                    @Html.DisplayFor(m => item.Email)
                </td>
                <td style="font-size:medium;font-weight:500;">
                    @Html.DisplayFor(m => item.PhoneNumber)
                </td>
                <td style="font-size:medium;font-weight:500;">
                    @Html.DisplayFor(m => item.City)
                </td>
                <td style="font-size:medium;font-weight:500;">
                    @Html.DisplayFor(m => item.Governorate)
                </td>
                <td style="font-size:medium;font-weight:500;">
                    @Html.DisplayFor(m => item.PostalCode)
                </td>

                <td>
                    @if (item.LockoutEnd == null || item.LockoutEnd < DateTime.Now)
                    {
                        <a class="btn btn-success " asp-action="LockUnlock" asp-route-id="@item.Id">
                            <i class="fas fa-lock-open" title="Lock Account"></i>
                        </a>
                    }
                    else
                    {
                        <a class="btn btn-danger " asp-action="LockUnlock" asp-route-id="@item.Id">
                            <i class="fas fa-lock" title="Unlock Account"></i>
                        </a>
                    }
                    @*<a asp-action="Edit" class="btn btn-primary text-white" title="Edit" asp-route-id="@Model">
                        <i class="far fa-edit"></i>
                    </a>*@
                    @*<a asp-action="Delete" class="btn btn-primary text-white" asp-route-id="@item.Id" >
                        <i class="fas fa-trash-alt"></i>
                    </a>*@

                </td>

            </tr>
                }

            </table>
        }
    </div>

    </div>

